<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title>
      Portal
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="">
  <ion-row class="ion-justify-content-center ion-margin">
    <ion-col size="12" class="ion-padding">
      <div class="ion-padding login-card">
        <ion-card>
          <ion-card-header color="danger" class="login-card-header">
            <ion-card-title>Students Login</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <form (ngSubmit)="submit()">
              <ion-item>
                <ion-label position="floating">Username</ion-label>
                <ion-input type="text" [(ngModel)]="model.e_roll" name="e_roll"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Password</ion-label>
                <ion-input type="password" [(ngModel)]="model.pass" name="pass"></ion-input>
              </ion-item>
              <ion-button color="danger" type="submit" fill="outline">Submit</ion-button>
            </form>
          </ion-card-content>
        </ion-card>
      </div>
    </ion-col>
  </ion-row>

</ion-content>